lightning_logs/
results/
Puzzle-Diff/
/dataset/
/datasets/*
!/datasets/data_splits
dataset_old_delete/
.vscode/
wandb/

singularity/*.o*
.ipynb_checkpoints


singularity/*.o*
exploration_analysis
launch_experiment.sh
singularity/*


singularity/build/singularity/*
singularity/*.o*
.ipynb_checkpoints/

*.sh
*.pickle

*.png
*.ckpt
*.sif
*.pyc

*.ipynb

Mambaforge-Linux-x86_64.sh
*.zip
*.tar

rotation_equivariant_test.ipynb
.ipynb_checkpoints/rotation_equivariant_test-checkpoint.ipynb


launch_experiment.sh


singularity/*.sh
Mambaforge-Linux-x86_64.sh
*.zip
*.tar
*.ipynb
launch_experiment.sh
singularity/build/singularity

!/page/*